#toPrint {
	position:absolute;
	/* background:url('/res/img/notifications.png'); */
    left: 50%;
    top: 50%;
}

#toPrint div {
	position:absolute;
	    font-family: KaiTi;
    font-weight: bold;
}

#toPrint img {
	position:absolute;
}

#bottom_btns {
    position: absolute;
    bottom: 10px;
    left: 50%;
    /* 按钮宽度加缩进 */
    margin-left: -70px;
}