<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nercel.enroll.dao.mapperInterface.UserPhotoInfoMapper" >
  <resultMap id="BaseResultMap" type="com.nercel.enroll.domain.model.beans.UserPhotoInfo" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="photo_path" property="photoPath" jdbcType="VARCHAR" />
    <result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="photo_type" property="photoType" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.nercel.enroll.domain.model.beans.UserPhotoInfo" extends="BaseResultMap" >
    <result column="base64" property="base64" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, photo_path, photo_url, user_id, create_time, photo_type, update_time
  </sql>
  <sql id="Blob_Column_List" >
    base64
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.nercel.enroll.domain.mybatis.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_photo_info
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nercel.enroll.domain.mybatis.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_photo_info
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_photo_info
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_photo_info
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nercel.enroll.domain.mybatis.Criteria" >
    delete from user_photo_info
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nercel.enroll.domain.model.beans.UserPhotoInfo" >
    insert into user_photo_info (Id, photo_path, photo_url, 
      user_id, create_time, photo_type, 
      update_time, base64)
    values (#{id,jdbcType=INTEGER}, #{photoPath,jdbcType=VARCHAR}, #{photoUrl,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{photoType,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=BIGINT}, #{base64,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nercel.enroll.domain.model.beans.UserPhotoInfo" >
    insert into user_photo_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="photoPath != null" >
        photo_path,
      </if>
      <if test="photoUrl != null" >
        photo_url,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="photoType != null" >
        photo_type,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="base64 != null" >
        base64,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="photoPath != null" >
        #{photoPath,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null" >
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="photoType != null" >
        #{photoType,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="base64 != null" >
        #{base64,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nercel.enroll.domain.mybatis.Criteria" resultType="java.lang.Integer" >
    select count(*) from user_photo_info
    <if test="_parameter != null" >
      <include refid="common.Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_photo_info
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.photoPath != null" >
        photo_path = #{record.photoPath,jdbcType=VARCHAR},
      </if>
      <if test="record.photoUrl != null" >
        photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.photoType != null" >
        photo_type = #{record.photoType,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.base64 != null" >
        base64 = #{record.base64,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update user_photo_info
    set Id = #{record.id,jdbcType=INTEGER},
      photo_path = #{record.photoPath,jdbcType=VARCHAR},
      photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=BIGINT},
      photo_type = #{record.photoType,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      base64 = #{record.base64,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_photo_info
    set Id = #{record.id,jdbcType=INTEGER},
      photo_path = #{record.photoPath,jdbcType=VARCHAR},
      photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=BIGINT},
      photo_type = #{record.photoType,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="common.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nercel.enroll.domain.model.beans.UserPhotoInfo" >
    update user_photo_info
    <set >
      <if test="photoPath != null" >
        photo_path = #{photoPath,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null" >
        photo_url = #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="photoType != null" >
        photo_type = #{photoType,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="base64 != null" >
        base64 = #{base64,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.nercel.enroll.domain.model.beans.UserPhotoInfo" >
    update user_photo_info
    set photo_path = #{photoPath,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      photo_type = #{photoType,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=BIGINT},
      base64 = #{base64,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nercel.enroll.domain.model.beans.UserPhotoInfo" >
    update user_photo_info
    set photo_path = #{photoPath,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      photo_type = #{photoType,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=BIGINT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>